/**
* Created by dev: 06-11-2019
*/
.pages_count,
.qsm-page .pages_count,
.quiz_section .pages_count{
    display: block;
    text-align: center;
}
.mlw_qmn_question p:empty{
    display: none;
}
.MJXc-display{
    display: inline-block !important;
}
.mlw_qmn_question{
    display: block;
}
.polar-question-title{
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
}
.question-type-polar-s{
    display: inline-block !important;
    position: relative;
    width: 100%;
}
.question-type-polar-s br{
    display: none;
}
.question-type-polar-s .left-polar-title{
    width: 25%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .slider-main-wrapper{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.question-type-polar-s .right-polar-title{
    width: 25%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal;
}
.question-type-polar-s .ui-widget-content{
    background: #A5A5A5;
    border-color: #A5A5A5;
    border-radius: 0;
    height: 20px;    
}
.question-type-polar-s .ui-widget-content .ui-slider-handle{
    background: rgb(119, 113, 113);
    height: 32px;
    border-color: rgb(119, 113, 113);
    top: -7px;
    border-radius: 0px;
}
.qsm-deselect-answer{
    float: right;
}
@media screen and (max-width: 767px){
    .question-type-polar-s .left-polar-title,
    .question-type-polar-s .slider-main-wrapper,
    .question-type-polar-s .right-polar-title{
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: none;
        margin-bottom: 30px;
    }   
    .question-type-polar-s{
        height: auto !important;
    }
}

.quiz-question-title,
.quiz-question-title h2 {
    font-size: 30px;
    font-weight: 600 !important;
    line-height: 1.15;
    margin: 0 0 5px 0;
}

.qsm-page {
    padding: 30px 0 !important;
}
.qsm-progress-bar {
    padding: 0 !important;
    height: 5px;
    position: relative;
    flex-grow: 2;
}

.mlw_qmn_message_before {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.qmn_btn {
    border-radius: 30px !important;
    font-weight: 400 !important;
    text-transform: none !important;
    border: 0;
    -webkit-box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 24px -9px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
}

.qsm-submit-btn {
    color: #fff !important;
    background: #e23425 !important;;
}

.qsm-previous {
    background: white !important;
    color: black !important;
}

.qsm-next {
    background: #e23425 !important;
    color: white !important;
}

.qmn_pagination {
    padding: 15px 0 0 0;
}

.clear-fix::after {
     display: block;
     content: "";
     clear: both;
}

.qsm-hint {
    text-decoration: none;
}

.qmn_check_answers,
.qmn_radio_answers  {
    display: flex;
    flex-wrap: wrap;
}

.qmn_check_answers input[type=checkbox] {
    margin-right: 5px;
}

.qmn_check_answers input[type=checkbox]:focus {
    outline: 0;
}

.qsm_check_answer,
.qmn_mc_answer_wrap {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 7px 0 7px 0 !important;
    display: block !important;
}

.qmn_mc_answer_answer_border {
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 14px 10px;
}

.qmn_mc_answer_answer_border span {
    /*display: inline-block;*/
    /*min-height: 35px;*/
    /*padding: 7px 0;*/
    float: left;
    display: block;
    font-size: 16px;
    margin-left: 7px;
    line-height: 1.5;
}

.qsm-results-page,
.qsm-results-page pre {
    text-align: center;
    font-size: 30px;
    border: 0;
    padding: 100px 0;
    margin: 0;
}

.qsm_contact_div {
    text-align: center;
}

.qsm-after-message {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

.qsm_contact_div select,
.qsm_contact_div textarea,
.qsm_contact_div input[type="text"],
.qsm_contact_div input[type="email"],
.qsm_contact_div input[type="number"] {
    max-width: 300px;
}

.own-answer {
    box-shadow: none !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #bababa !important;
    border-radius: 0 !important;
    padding: 0 0 6px 0 !important;
    margin-bottom: -6px !important;
    font-size: 15px !important;
    min-height: auto !important;
    margin-left: 7px !important;
    height: auto !important;
    line-height: 1.5;
}

/*.has-image .qmn_check_answers p,*/
/*.has-image .qmn_radio_answers p {*/
/*    padding-bottom: 0 !important;*/
/*}*/

.qmn_check_answers img,
.qmn_radio_answers img {
    margin: 0 !important;
    height: auto !important;
    max-height: 250px;
    width: auto;
    display: block;
}

.answer-checked {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    font-size: 30px;
    color: #2aaaff;
    text-align: left;
}

.qsm-results-page img.emoji,
.answer-checked img.emoji {
    filter: saturate(55);
    height: auto !important;
}

.qsm_check_answer .qmn_mc_answer_answer_border {
    position: relative;
}

.qmn_check_answers input:checked + .answer-checked {
    display: block;
}

.qsm-quiz-container {
    text-align: left;
    font-family: sans-serif;
}

.qmn_mc_answer_answer_border [type="radio"],
.qmn_mc_answer_answer_border [type="checkbox"] {
    width: 16px;
    height: 16px;
    float: left;
    display: block;
    /*margin: 0;*/
}

.qmn_mc_answer_answer_border::after {
    display: block;
    content: "";
    clear: both;
}

.qsm-progress-percents {
    color: #e23425;
    font-size: 14px;
}

.qsm-progress-percents .percents-text {
    font-weight: bold;
    font-size: 16px;
}

.has-image .qsm_check_answer,
.has-image .qmn_mc_answer_wrap {
    flex: 0 0 33%;
    max-width: 33%;
}

.has-image .qmn_mc_answer_answer_border {
    padding: 0;
    border-radius: 0;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.has-image .qmn_mc_answer_answer_border span {
    margin-left: 0;
    float: none !important;
}

.quiz_section {
    padding: 8px 0 15px 0;
}

.quiz_section .qsm-quiz-description {
    margin-right: 30px;
}

@media all and (max-width: 900px) {
    .has-image .qsm_check_answer,
    .has-image .qmn_mc_answer_wrap,
    .qsm_check_answer,
    .qmn_mc_answer_wrap {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .qmn_check_answers img,
    .qmn_radio_answers img {
        margin: 0 !important;
        height: auto !important;
    }
}

/* Bootstrap */

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/***********/

.contact-group {
    max-width: 330px;
    margin: 0 auto;
}

.contact-group .form-control {
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 3px;
}

.contact-group .input-group-text {
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 3px;
}

.contact-group-bg-gray .input-group-text {
    border: 1px solid #e3e3e3;
}

.contact-group-bg-white .input-group-text {
    background-color: white;
    border-right: 0;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.qsm_contact_div .input-group-text,
.qsm_contact_div .form-control {
    font-size: 20px !important;
}

.qsm_contact_div .form-control:active,
.qsm_contact_div .form-control:focus {
    box-shadow: none !important;
    border-color: #e3e3e3 !important;
    transition: none !important;
}

.qsm_contact_div .form-control::placeholder {
    color: #e3e3e3;
}

.contact-group-bg-white .form-control {
    border-left: 0 !important;
}

.qsm-pagination.last-page {
    justify-content: center;
}

.qsm-pagination.last-page .qsm-previous {
    display: none !important;
}

.qsm-pagination.last-page .qsm-submit-btn {
    font-size: 20px !important;
    padding: 20px 20px !important;
    max-width: 280px;
    width: 100%;
}

.qsm-submit-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .qmn_pagination {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-right: 40px;
        padding-bottom: 20px;
        border: 0;
        background: linear-gradient(transparent, #fffffff7, white);
    }
    .qsm_contact_div:last-of-type {
        padding-bottom: 300px;
    }
}

.quiz_section.qmn_error .form-control {
    border-left: 1px solid #da4f49 !important;
}