/* The Modal (background) */
.quiz-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /* Full width */
    width: 100% !important;
    max-width: 100% !important;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 50;
}

/* Modal Content/Box */
.quiz-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 920px;
    min-height: 290px;
}

@media all and (max-width: 800px) {
    .quiz-modal-content {
        margin: 0 auto; /* 15% from the top and centered */
        width: 100%; /* Could be more or less, depending on screen size */
        min-height: 100%;
        border: 0;
    }

    iframe {
        max-width: 100% !important;
    }
}

/* The Close Button */
.quiz-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.quiz-modal-close:hover,
.quiz-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}