#qsm-progress-bar {
  position: relative;
  flex-grow: 2;
  padding: 0 10px;
}

.ui-tooltip {
	max-width: 500px !important;
}
.ui-tooltip-content {
	max-width: 500px !important;
}
.mlw_qmn_hint_link {
	text-decoration:underline;
	color:rgb(0,0,255);
}

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.qsm-spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}


.mlw_qmn_message_before {
  color: #666;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
}

.mlw_qmn_message_before p { margin: 0 0 10px 0; }

.quiz_section {
  display: block;
  border: 0;
  margin: 0;
  padding: 15px 0 15px 0;
  font-size: 16px;
}

.quiz_section.border {
  border-top: 1px solid #f3f3f3;
}

.quiz_section label,
.quiz_section .mlw_qmn_question {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/*.quiz_section > .mlw_qmn_question,
.quiz_section > .quiz-cat{
    display: inline-block;
}*/

.quiz_section > .quiz-cat{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.qsm_contact_div {
	margin: 10px 0;
}

.quiz_section .qsm-contact-type-checkbox label,
.quiz_section .qsm-contact-type-checkbox input {
	display: inline;
}

label.inline,
label.inline .mlw_qmn_question,
.quiz_section.inline .mlw_horizontal_multiple {
  display: inline-block;
}

.quiz_section p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #999;
}

.quiz_section iframe { margin-bottom: 10px; }

.qmn_mc_answer_wrap {
  display: block;
  margin: 5px 0 5px 0;
}

.qmn_radio_answers .qmn_mc_answer_wrap {
    cursor: pointer;
}

.quiz_section .qmn_radio_answers label,
.quiz_section .qmn_check_answers label,
.quiz_section .qmn_accept_answers label {
  display: inline;
  margin: 0 10px 0 5px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer;
}

.quiz_section.text-block h2 {
  display: block;
  margin: 0 0 10px 0;
}

.quiz_section select,
.quiz_section textarea,
.quiz_section input[type="text"],
.quiz_section input[type="email"],
.quiz_section input[type="number"] {
width: 70%;
min-height: 35px;
display: inline-block;
padding: 10px 8px 10px 8px;
font-size: 14px;
color: #555;
background: #fff;
border: 1px solid #e3e3e3;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
-webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}

.quiz_section select { height: 38px; }

.quiz_section select:hover,
.quiz_section textarea:hover,
.quiz_section input[type="text"]:hover,
.quiz_section input[type="email"]:hover,
.quiz_section input[type="number"]:hover,
.quiz_section select:focus,
.quiz_section textarea:focus,
.quiz_section input[type="text"]:focus,
.quiz_section input[type="email"]:focus,
.quiz_section input[type="number"]:focus {
  outline: 0;
  background: #f7f7f7;
  border: 1px solid #bdc3c7;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
          box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.qmn_fill_blank {
  margin: 0 5px 0 5px;
  width: 100px !important;
}

.qmn_fill_blank.small { width: 50px; }
.qmn_fill_blank.medium { width: 100px; }
.qmn_fill_blank.large { width: 150px; }


/* Alerts and error state */

.qmn_error_message {
  color: #da4f49;
  border: 1px solid #da4f49;
  background: #F2DEDE;
  display: block;
  padding: 10px;
  margin: 10px 0 10px 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.quiz_section.qmn_error select,
.quiz_section.qmn_error textarea,
.quiz_section.qmn_error input[type="text"],
.quiz_section.qmn_error input[type="number"],
.quiz_section.qmn_error input[type="email"],
.quiz_section.qmn_error input[type="checkbox"],
.quiz_section.qmn_error input[type="file"],
.quiz_section.qmn_error select:hover,
.quiz_section.qmn_error textarea:hover,
.quiz_section.qmn_error input[type="text"]:hover,
.quiz_section.qmn_error input[type="number"]:hover,
.quiz_section.qmn_error input[type="email"]:hover,
.quiz_section.qmn_error input[type="checkbox"]:hover,
.quiz_section.qmn_error input[type="file"]:hover,
.quiz_section.qmn_error select:focus,
.quiz_section.qmn_error textarea:focus,
.quiz_section.qmn_error input[type="text"]:focus,
.quiz_section.qmn_error input[type="number"]:focus,
.quiz_section.qmn_error input[type="email"]:focus,
.quiz_section.qmn_error input[type="checkbox"]:focus,
.quiz_section.qmn_error input[type="file"]:focus  {
  position: relative;
  border: 1px solid #da4f49;
  background: #F2DEDE;
  -webkit-box-shadow: 0 0 10px rgba(218, 79, 73, .35);
     -moz-box-shadow: 0 0 10px rgba(218, 79, 73, .35);
          box-shadow: 0 0 10px rgba(218, 79, 73, .35);
}

.quiz_section.qmn_error { position: relative; }

.quiz_section.qmn_error:after {
  content: '-';
  color: #fff;
  font-size: 20px;
  font-family: 'Helvetica', Arial, sans-serif;
  background: #da4f49;
  text-align: center;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 12px;
  -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
        border-radius: 20px;

}

.quiz_section.qmn_error .qmn_radio_answers,
.quiz_section.qmn_error .qmn_check_answers,
.quiz_section.qmn_error .qmn_accept_answers {
  border: 1px solid #da4f49;
  background: #F2DEDE;
  padding: 5px;
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
}

.qmn_btn, .qmn_quiz_container .btn {
  display: relative;
  display: inline-block;
  color: #666 !important;
  background: #ccc !important;
  font-size: 16px !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.05);
     -moz-box-shadow: 0px 0px 6px rgba(0,0,0,.05);
          box-shadow: 0px 0px 6px rgba(0,0,0,.05);
-webkit-transition: background .25s ease-out;
   -moz-transition: background .25s ease-out;
        transition: background .25s ease-out;
}

.qmn_btn:hover, .qmn_quiz_container .btn:hover {
  color: #fff;
  background: #666;
}

.qmn_pagination {
	position: relative;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	padding: 15px 0 15px 0;
	border-top: 1px solid #f3f3f3;
}

/*@media screen and (min-width: 500px) {*/
	.qmn_pagination {
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}
/*}*/

/* .qmn_page_counter_message {
  font-size: 14px;
  color: #999;
  width: 100px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
	text-align: center;
} */

.mlw_qmn_timer {
  z-index: 999;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #34495e;
  color: #fff;
    -webkit-border-radius: 50px;
     -moz-border-radius:  50px;
          border-radius:  50px;
  -webkit-box-shadow:  0 4px 8px rgba(0,0,0,.10);
     -moz-box-shadow:  0 4px 8px rgba(0,0,0,.10);
          box-shadow:  0 4px 8px rgba(0,0,0,.10);
}

.qmn_quiz_container select,
.qmn_quiz_container textarea,
.qmn_quiz_container input[type="text"],
.qmn_quiz_container input[type="email"],
.qmn_quiz_container input[type="number"] {
  background: #fff;
  /*border: 1px solid #e23425;*/
}

.qmn_quiz_container select:hover,
.qmn_quiz_container textarea:hover,
.qmn_quiz_container input[type="text"]:hover,
.qmn_quiz_container input[type="email"]:hover,
.qmn_quiz_container input[type="number"]:hover,
.qmn_quiz_container select:focus,
.qmn_quiz_container textarea:focus,
.qmn_quiz_container input[type="text"]:focus,
.qmn_quiz_container input[type="email"]:focus,
.qmn_quiz_container input[type="number"]:focus{
  outline: 0;
  background: #fff;
  /*border: 1px solid #e23425;*/
  -webkit-box-shadow: 0 0 10px rgba(52, 152, 219, .35);
     -moz-box-shadow: 0 0 10px rgba(52, 152, 219, .35);
          box-shadow: 0 0 10px rgba(52, 152, 219, .35);
}

.qmn_quiz_container .qmn_btn, .qmn_quiz_container .btn {
  color: #fff;
  background: #e23425;
}

.qmn_quiz_container .qmn_btn:hover, .qmn_quiz_container .btn:hover {
    /*background: #e23425 !important; */
}

.quiz_section.quiz_end .qsm-submit-btn {
	display: block;
	margin: 10px 0;
}

/* Helper classes */

.border-none { border: 0; }
.margin-bottom { margin-bottom: 20px; }


/*@media (max-width: 768px) {*/

/*  .quiz_section label,*/
/*  .quiz_section .mlw_qmn_question {*/
/*    font-size: 18px;*/
/*  }*/

/*  .quiz_section .qmn_radio_answers .qmn_mc_answer_wrap label {*/
/*    font-size: 18px;*/
/*  }*/

/*  .quiz_section p.form-help { font-size: 14px; }*/

/*  .quiz_section select,*/
/*  .quiz_section textarea,*/
/*  .quiz_section input[type="text"] {*/
/*    display: block;*/
/*    width: 100%;*/
/*    padding: 12px 10px 12px 10px;*/
/*    font-size: 16px;*/
/*  }*/

/*  .mlw_previous,*/
/*  .mlw_next,*/
/*  .qmn_page_counter_message {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*  }*/

/*  .mlw_qmn_timer { top: 20px; }*/

/*}*/

.quick-question-res-p {
    border: 2px solid;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}

.mlw_qmn_quiz_link{
    cursor: pointer;
}

.qsm-results-page .qmn_question_answer{
    margin-bottom: 30px;
}
.quiz_section .mlw-file-upload-error-msg{
    color: red;
    display: block;
}

.quiz_section .remove-uploaded-file{
    color: red;
    border: 1px solid red;
    width: 31px;
    padding: 5px 5px 0px 5px;
    display: inline-block;
    cursor: pointer;
}